
/*DROPDOWN STYLES*/
.dropdown-menu > li > .remove-user {
    color: red;
    cursor: pointer;
}
.dropdown-menu > li > .add-user {
    color: #439F3E;
    cursor: pointer;
}
/* END DROPDOWN STYLES*/

table, th, td {
    border: 1px solid black;
    padding : 5px ;
}
