
/*DROPDOWN STYLES*/
.dropdown-menu > li > .remove-user {
    color: red;
    cursor: pointer;
}
.dropdown-menu > li > .add-user {
    color: #439F3E;
    cursor: pointer;
}
/* END DROPDOWN STYLES*/

table, th, td {
    border: 1px solid black;
    padding : 5px ;
    text-align: center;
}

.makepointer {
    cursor : pointer;
}

.double-size{
    font-size : 2em;
}

.center-text{
    text-align : center;
}

.auto-margin{
    margin : auto;
}

.makebold{
    font-weight:bold;
}

.aubluetext{
    color: #00467f;
}

.augreentext{
    color: #439F3E;
}
